<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ycp.cs482.triviagame" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.ycp.cs482.triviagame.MainActivity"
            android:label="Trivia" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="edu.ycp.cs482.triviagame.SignUp"
            android:label="Sign_up">
        </activity>
        <activity
            android:name="edu.ycp.cs482.triviagame.MenuPage"
            android:label="Action_page">
        </activity>
        <activity
            android:name="edu.ycp.cs482.triviagame.Settings"
            android:label="Setting_page">
        </activity>
        <activity
            android:name="edu.ycp.cs482.triviagame.GamePage"
            android:label="Game_page">
        </activity>
    </application>

</manifest>